{% extends 'links.html' %}
{% block content %}
<h1>Task Details</h1>
<li>{{param.title}}</li>
<li>{{param.desc}}</li>
<li>{{param.important}}</li>
<li>{{param.user}}</li>
<br><br>
<form method="post">
    {% csrf_token %}
    {{error}}
    {{form}}
    <button>
        Update
    </button>
</form>
<br>
<form method="post" action="{% url 'complete_task' param.id %}">
    {% csrf_token %}
    <button>
        Complete
    </button>
</form>
<br>
<form method="post" action="{% url 'delete_task' param.id %}">
    {% csrf_token %}
    <button>
        Delete
    </button>
</form>
{% endblock %}